html, body{
    margin: 0;
    padding: 0;
}

.desktop>.wallpaper{
    width: 100vw;
    height: 100vh;
}

.desktop>.wallpaper>.activity-bar{
    background: #333;
    left: 0;
    right: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    justify-content: center;
    font-family: monospace;
    font-weight: bold;
    color: white;
}

.desktop>.wallpaper>.activity-bar>.title{
    padding-left: 7px;
}


.desktop>.wallpaper>.activity-bar>.date{
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
}


.maximize{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.normalize{
    position: relative;
    top: 10%;
    left: 25%;
    width: 50%;
    height: 50%;
    resize: both;
}

.desktop>.wallpaper>.terminal{
    color: white;
    font-family: monospace;
    min-width: 200px;
    min-height: 100px;
    background-color: rgb(48, 9, 36);
    border-radius: 3px;
}

.desktop>.wallpaper>.terminal>.terminal-navbar{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 19px;
    padding-left: 4px;
    background-color: #333;
}


.username{
    padding-left: 2px;
    color:chartreuse;
    
}

.desktop>.wallpaper>.terminal>.input-container{
    display: grid;
    grid-template-columns: auto 1fr;
    padding-left: 2px;
}

.desktop>.wallpaper>.terminal>.terminal-navbar svg{
    flex-shrink: 0;
}

.desktop>.wallpaper>.terminal>.terminal-navbar svg:hover{
    fill: rgb(169, 169, 169);
}


.desktop>.wallpaper>.terminal{
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #333 rgb(48, 9, 36);
}

.desktop>.wallpaper>.terminal>.input-container input{
    outline: none;
    width: 100%;
    background-color: transparent;
    font: inherit;
    color: white;
    border: none;
}

.desktop>.wallpaper>.terminal-icon-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 20px;
    top: 50px;
    fill: white;
    font-family: monospace;
    font-weight: bold;
    color: white;
}

.desktop>.wallpaper>.terminal-icon-container>.terminal-icon:hover{
    fill: rgb(169, 169, 169);
}