html, body{
    margin: 0;
    padding: 0;
}

.desktop>.wallpaper{
    position: relative;
    width: 100vw;
    height: 100vh;
}


.desktop>.wallpaper>.terminal{
    position: absolute;
    top: 10%;
    left: 25%;
    width: 50%;
    height: 50%;
    background-color: black;
    color: white;
    font-family: monospace;
    /* overflow: hidden; */
    resize: both;
    min-width: 250px;
    min-height: 100px;
    background-color: rgb(48, 9, 36);
    border-radius: 12px;
}

.desktop>.wallpaper>.terminal>.terminal-navbar{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    padding-left: 4px;
    background-color: #333;
}

.username{
    padding-left: 2px;
    color:chartreuse;
}

.desktop>.wallpaper>.terminal>.terminal-navbar svg:hover{
    fill: rgb(169, 169, 169);
}

.desktop>.wallpaper>.terminal>.input-container{
    display: grid;
    grid-template-columns: auto 1fr;
    padding-left: 5px;
}

.desktop>.wallpaper>.terminal{
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #333 rgb(48, 9, 36);
}

.desktop>.wallpaper>.terminal>.input-container input{
    display: initial;
    outline: none;
    width: 100%;
    background-color: transparent;
    font: inherit;
    color: white;
    border: none;
}

.desktop>.wallpaper>.terminal-icon-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 20px;
    top: 50px;
    fill: white;
    font-family: monospace;
    font-weight: bold;
    color: white;
}

.desktop>.wallpaper>.terminal-icon-container>.terminal-icon:hover{
    fill: rgb(169, 169, 169);
}